{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'homes/assets/css/app.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homes/assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homes/assets/css/components.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homes/assets/css/custom.css' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'homes/assets/bundles/izitoast/css/iziToast.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homes/assets/bundles/datatables/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homes/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homes/assets/css/confirm.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>



    <div class="loader"></div> 
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            {% include 'include/navbar.html' %}
            {% include 'include/sidebar.html' %}

             <div class="main-content">

                {% block main_content %}
                {% endblock %}

                

            </div> 

            {% include 'include/footer.html' %}

        </div>
 </div>


                

                <script src="{% static 'homes/assets/js/app.min.js' %}"></script>
                <script src="{% static 'homes/assets/bundles/apexcharts/apexcharts.min.js' %}"></script>
                <script src="{% static 'homes/assets/js/page/index.js' %}"></script>
                <script src="{% static 'homes/assets/js/page/Sortable.min.js' %}"></script>
                <script src="{% static 'homes/assets/js/scripts.js' %}"></script>
                <script src="{% static 'homes/assets/bundles/datatables/datatables.min.js' %}"></script>
                <script src="{% static 'homes/assets/bundles/sweetalert/sweetalert.min.js' %}"></script>
                <script src="{% static 'homes/assets/js/page/datatables.js' %}"></script>
                <script src="{% static 'homes/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
                <script src="{% static 'homes/assets/bundles/jquery-ui/jquery-ui.min.js' %}"></script>
                <script src="{% static 'homes/assets/bundles/izitoast/js/iziToast.min.js' %}"></script>
                <script src="{% static 'homes/assets/js/page/toastr.js' %}"></script>
                <script src="{% static 'homes/assets/js/confirm.js' %}"></script>

        {% block extra_js %}
        {% endblock %}  
</body> 
</html>