{% extends 'layout/app.html' %}


{% block title %}
<title>banner</title>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block main_content %}
<div class="d-flex"><a href="{% url 'index_banner' %}" class="btn btn-primary mb-3 ml-auto">View All Banners</a></div>
<div class="card">
    <div class="card-header">
        <h4>Add Banner</h4>
    </div>
    <div class="card-body">



    <form id="banner_form">
        {% csrf_token %}
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" required value="{{banner.name}}">
            <input type="hidden" class="form-control" name="id" required value="{{banner.id}}">
        </div>
        <div class="form-group">
            <label>Text of banner</label>
            <input type="text" class="form-control" name="text" required value="{{banner.text}}">
        </div>
        <div class="form-group">
            <label>Image of Banner</label><span><img src="{{banner.image.url}}" height="30"/></span>
            <input type="file" class="form-control" name="image">
        </div>
        <button type="submit" class="btn btn-success">Update</button>
    </form>



    </div>
</div>
{% endblock %}

{% block extra_js %}

<script>
    $(document).ready(function() {
       $('#banner_form').submit(function(e) {
           e.preventDefault();
    
           var formData = new FormData(this);
    
           $.ajax({
               url: "{% url 'update_banner' %}",
               type: 'POST',
               data: formData,
               processData: false,
               contentType: false,
               success: function(response) {
                window.location.href = "{% url 'index_banner' %}";
               }
           });
       });
    });
</script>

{% endblock %}